<ion-header>
  <ion-toolbar>
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Error 404</ion-title>
    <ion-buttons slot="start">

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
  <ion-card-header>
    <ion-card-title color="warning" >Error 404</ion-card-title>
  </ion-card-header>

  <ion-card-content>
      error 404: no se pudo encontrar la pagina que estas buscando
  </ion-card-content>
</ion-card>


</ion-content>
