<ion-content>

  <ion-card>
<ion-card-header class="contenedor">
  <img class="imagen" src="/assets/img/bienvenida.jpg" alt="viaje">
  <ion-card-title color="warning" >Encuentra tu chofer</ion-card-title>
</ion-card-header>

<ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae omnis natus ipsam odio. Totam maxime sunt pariatur fugit quo. Aperiam eos ratione, laboriosam delectus ullam veritatis. Quaerat laborum quae veritatis.
</ion-card-content>
</ion-card>


</ion-content>