<ion-header>
  <ion-toolbar>
      <ion-buttons>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>conversor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-list>
    <ion-item >
      <ion-select class="selectMoneda" [(ngModel)]="monedaSeleccionada" id="selectMoneda" placeholder="seleciona la moneda que quieres convertir">
        <ion-select-option value="dolar">dolar</ion-select-option>
        <ion-select-option value="euro">euro</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list style="text-align:center">
    <ion-input id="inputmoneda" placeholder="coloca la cantidad en pesos" class="custom input"></ion-input>
    <ion-input id="resultado" placeholder="" disabled="true" class="custom input-resultado"></ion-input>
    <ion-button (click)="convertir()" class="boton" color="success">convertir</ion-button>
  </ion-list>
</ion-content>
