.input {
    --color: black;
    --background: white;
    width: 25vw;
    margin: 2rem auto;
}
.input-resultado {
    --color: black;
    --background: white;
    width: 25vw;
    margin: 2rem auto;
}

.selectMoneda{
    width: 25vw;
}
